.container-1 {
  background-color: #ffdf2c;
  color: #ffffff;
  border-radius: 20px;
  margin: 2rem 0;
}

.flex-box-container-1,
.flex-box-container-2,
.flex-box-rps {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.flex-box-container-1:nth-child(2) {
  margin-bottom: 1rem;
}

.flex-box-container-1 div {
  display: flex;
  padding: 10px;
  /* border: 1px solid black; */
  align-items: center;
}

.container-2 {
  margin: 0 auto;
  text-align: center;
  background-color: #0073a8;
  margin: 2rem 0;
  border-radius: 20px;
  color: #ffffff;
}

/* .flex-box-container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1 px solid blue;
} */

.flex-box-container-2 img {
  /* box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3); */
  padding: 10px;
  margin: 15px 0;
}

.container-3 {
  color: #000000;
  background-color: #d2d2d5;
  border-radius: 20px;
  margin-bottom: 2rem;
}

.flex-box-rps img:hover {
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}
