.container-1 {
  border: 3px solid coral;
}

.flex-box-container-1, .flex-box-container-2 {
  display: flex;
  border: 2px solid #007bff;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.flex-box-container-1:nth-child(2) {
  margin-bottom: 1rem;
}

.flex-box-container-1 div {
  display: flex;
  padding: 10px;
  /* border: 1px solid black; */
  align-items: center;
}

.container-2 {
  border: 1px solid red;
  margin: 0 auto;
  text-align: center;
}

/* .flex-box-container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1 px solid blue;
} */

.flex-box-container-2 img {
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
  padding: 10px;
}
